@model IEnumerable<WorkManagementWeb.Models.TaskListModels>

@{
    ViewData["Title"] = "Day";
    Layout = "~/Views/Template/Template.cshtml";
}

<h1>Day</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
              @*   @Html.DisplayNameFor(model => model.TaskName) *@
              İş Adı
            </th>
            <th>
              @*   @Html.DisplayNameFor(model => model.Time) *@
              Tarih
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.JobListName) *@
               İş Listesi Adı
            </th>
            <th>
             @*    @Html.DisplayNameFor(model => model.Done) *@
             Durum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                    <a asp-route-id="@item.ID" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Güncelle</a>
                    <a asp-action="TaskEnd" asp-route-id="@item.ID" class="btn btn-danger">Bitir</a>
            </td>
        </tr>
}
    </tbody>
</table>
