@model IEnumerable<WorkManagementWeb.Models.TaskListModels>

@{
    ViewData["Title"] = "Sonuc";
    Layout = "~/Views/Template/Template.cshtml";
}

<h1>Sonuc</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobListName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Done)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Güncelle</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Bitir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@using (Html.BeginForm("Sonuc", "Main", FormMethod.Post))
{
    <div class="form-group">
        <label for="taskname">İş Adı:</label>
        <input type="text" id="taskname" name="taskname" class="form-control" placeholder="İş Adı" />
    </div>
     
    
     
    <button type="submit" class="btn btn-success">Ekle</button>
}
