  @model IEnumerable<WorkManagementWeb.Models.JoblistModels>
@{
    ViewData["Title"] = "WorkList";
    Layout = "~/Views/Template/Template.cshtml";
}

<<<<<<< HEAD

<h4  class="text-white">
=======
@model IEnumerable<WorkManagementWeb.Models.JoblistModels>
<h4  class="text-black">
>>>>>>> 9318d193ab5c23655d2092b71e70bdc411dd641c
@ViewBag.User
</h4>


 

<div class="list-group">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink(item.JobListName, "Sonuc", new { id = item.ID })</h4>

                <p class="list-group-item-text">
                    <strong>Time:</strong> @Html.DisplayFor(modelItem => item.Time) <br />
                    <strong>Ekleyen:</strong> @Html.DisplayFor(modelItem => item.Email) <br />
                </p>
                <div class="btn-group">
<<<<<<< HEAD
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Güncelle</a>

                    <a asp-action="JobDelete" asp-route-id="@item.ID" name="id" class="btn btn-danger">Sil</a>
=======
                    <a asp-action="JobUpdate" asp-route-id="@item.ID" class="btn btn-primary">Güncelle</a>

                    <a asp-action="JoblistDelete" asp-controller="Main" asp-route-id="@item.ID" name="id" class="btn btn-danger">Sil</a>
>>>>>>> 9318d193ab5c23655d2092b71e70bdc411dd641c
                </div>
            </div>
        }

    }
<<<<<<< HEAD
</div>
=======
</div> 
>>>>>>> 9318d193ab5c23655d2092b71e70bdc411dd641c


 @using (Html.BeginForm("worklist", "Main", FormMethod.Post))
{
    <div class="form-group">

        <input type="text" id="JoblistName" name="JobName" class="form-control" placeholder="İş Adı(*)" required />
    </div>
  
    <button type="submit" class="btn btn-success">Ekle</button>
}

