  @model IEnumerable<WorkManagementWeb.Models.JoblistModels>
@{
    ViewData["Title"] = "WorkList";
    Layout = "~/Views/Template/Template.cshtml";
}


<h4  class="text-white">
@ViewBag.User
</h4>


 

<div class="list-group">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink(item.JobListName, "Sonuc", new { id = item.ID })</h4>

                <p class="list-group-item-text">
                    <strong>Time:</strong> @Html.DisplayFor(modelItem => item.Time) <br />
                    <strong>Ekleyen:</strong> @Html.DisplayFor(modelItem => item.Email) <br />
                </p>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Güncelle</a>

                    <a asp-action="JobDelete" asp-route-id="@item.ID" name="id" class="btn btn-danger">Sil</a>
                </div>
            </div>
        }

    }
</div>


