@model List<Team>

@{
    ViewData["Title"] = "TeamList";
    Layout = "~/Views/Template/TeamTemplate.cshtml";
}

<h1>Ekipler</h1>

 
 
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.T_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.T_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.T_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
