  @model IEnumerable<WorkManagementWeb.Models.Team>
@{
    ViewData["Title"] = "WorkList";
    Layout = "~/Views/Template/TeamTemplate.cshtml";
}





<h4 class="text-black">

    @ViewBag.User
</h4>




<div class="list-group">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink(item.TeamName, "GetTeamJob", new { id = item.T_ID })</h4>

                <p class="list-group-item-text">
                    <h6 class="list-group-item-heading">@item.TCode</h6>
                    <h6 class="list-group-item-heading">Oluşturan Üye:@item.MemberCode</h6>
                   
                </p>
                <div class="btn-group">



                    <a asp-action="TGrpup" asp-route-id="@item.T_ID" class="btn btn-primary">Güncelle</a>

                    <a asp-action="JoblistDelete" asp-controller="Main" asp-route-id="@item.T_ID" name="id" class="btn btn-danger">Sil</a>

                </div>
            </div>
        }

    }

</div>




 

